In [1]:
import numpy as np
import pandas as pd
import os
#os.chdir("")

In [2]:
pwd

'/Users/fanagidey/Desktop/Applied ML/Assignment 6 Materials'

In [11]:
col_names = ['class','cap-shape', 'cap-surface', 'cap-color', 'bruises?', 'odor', 'gill-attachment', 'gill-spacing',
            'gill-size', 'gill-color', 'stalk-shape', 'stalk-root', 'stalk-surface-above-ring', 
             'stalk-surface-below-ring', 'stalk-color-above-ring',  'stalk-color-below-ring',
            'veil-type', 'veil-color', 'ring-number', 'ring-type', 'spore-print-color',
            'population', 'habitat']

Data2= pd.read_csv('agaricus-lepiota.data', names=col_names)
Data2.shape

(8124, 23)

In [6]:
Data2 = pd.read_excel("Mushroom data project.xlsx")
Data2.head()

FileNotFoundError: [Errno 2] No such file or directory: 'Mushroom data project.xlsx'

In [12]:
Data2.shape

(8124, 23)

In [13]:
#Data3 = Data2.replace('?', np.NaN)
Data2['stalk-root'][Data2['stalk-root'] == "?"].count()

2480

In [14]:
## Spliting the target category:
Feature_all = Data2.drop(columns='stalk-root', axis = 1)
Label_all = Data2['stalk-root']

In [15]:
# Import LabelEncoder
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder

#creating labelEncoder
le = preprocessing.LabelEncoder()
Label_rm_en = le.fit_transform(Label_all)
#Label_encoded=le.fit_transform(Label_all)
#print(Label_encoded)

#OnehotEncoder
enc = OneHotEncoder(handle_unknown='ignore')
Feature_rm_en=enc.fit_transform(Feature_all).toarray()
Feature_rm_en.shape

(8124, 114)

In [16]:
list(le.classes_)
le.transform(['b', 'c', 'e', '?', 'r'])

array([1, 2, 3, 0, 4])

In [17]:
Label_rm_en.shape
Label_Data = pd.DataFrame(Label_rm_en)
Label_Data.columns = ['Label']
Label_Data

      Label
0         3
1         2
2         2
3         3
4         3
...     ...
8119      0
8120      0
8121      0
8122      0
8123      0

[8124 rows x 1 columns]

In [18]:
Feature_Data = pd.DataFrame(Feature_rm_en)

In [19]:
New_data = pd.concat([Label_Data, Feature_Data], axis=1)
New_data.shape

(8124, 115)

In [20]:
New_data

,Label,0,1,2,3,4,5,6,7,8,...,104,105,106,107,108,109,110,111,112,113
0,3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8119,0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8120,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8121,0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8122,0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8123,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [21]:
New_data_rm = New_data[New_data.Label != 0]
New_data_rm.shape

(5644, 115)

In [22]:
Feature_rm_en

array([[0., 1., 0., ..., 0., 1., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 1., ..., 0., 0., 0.],
       ...,
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.]])

In [23]:
X_train = New_data_rm.drop(columns='Label', axis = 1)

In [24]:
New_data.drop(columns='Label', axis = 1).shape
#type(New_data)
y_train = New_data_rm[["Label"]]

In [25]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(New_data_rm.drop(columns='Label', axis = 1))
X_test = scaler.transform(New_data.drop(columns='Label', axis = 1))
print("Data without missing values: ",X_train.shape)
print("Data with all rows: ",X_test.shape)

Data without missing values:  (5644, 114)
Data with all rows:  (8124, 114)

In [26]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier()
classifier.fit(X_train, y_train)

<ipython-input-26-dc74eb3074d8>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  classifier.fit(X_train, y_train)

KNeighborsClassifier()

In [27]:
y_pred = classifier.predict(X_test)

In [30]:
y_pred.shape

(8124,)

#### Table of imputed missing values.

In [29]:
Actual_data = np.array(Label_Data).reshape(8124,)
Table = pd.DataFrame({'Actual_value':Actual_data, 'Predicted_Value':y_pred})

In [22]:
missing_values = Table[(Table.Actual_value == 0)]
missing_values

      Actual_value  Predicted_Value
3984             0                1
4023             0                1
4076             0                3
4100             0                1
4104             0                1
...            ...              ...
8119             0                1
8120             0                1
8121             0                1
8122             0                1
8123             0                2

[2480 rows x 2 columns]

### Graded Concept Question #1

#### RandomForestClassifier and LogisticRegression

In [23]:
### Make data with new values:
Data2['stalk-root'] = y_pred
Data2['stalk-root'][Data2['stalk-root'] == "?"].sum()

0

In [24]:
Feature_RF = Data2.drop(columns='classes', axis = 1)
Label_RF = Data2['classes']

In [25]:
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder
#creating labelEncoder
le = preprocessing.LabelEncoder()
Label_RF_en = le.fit_transform(Label_RF)
#Label_encoded=le.fit_transform(Label_all)
#print(Label_encoded)

## OnehotEncoder

enc = OneHotEncoder(handle_unknown='ignore')
Feature_RF_en=enc.fit_transform(Feature_RF)
#Feature_RF_en

In [26]:
%%time
### RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier

clf=RandomForestClassifier()
clf.fit(Feature_RF_en,Label_RF_en)

#RF_pred=clf.predict(Feature_RF_en)
#RF_pred

CPU times: user 474 ms, sys: 17.5 ms, total: 491 ms
Wall time: 492 ms

RandomForestClassifier()

In [27]:
%%time
### Logistic regression

from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(Feature_RF_en,Label_RF_en)


#Log_pred=logreg.predict(Feature_RF_en)
#Log_pred

CPU times: user 79.3 ms, sys: 3.06 ms, total: 82.4 ms
Wall time: 80.3 ms

LogisticRegression()